<div class="container text-center">
  <h1>TEAM UP</h1>
  <p>Your Favorite App to Manage Sports Teams</p>

  <p id="notice"><%= notice %></p>

  <ul class="list-unstyled cards">
    <% @teams.each do |team| %>
      <div class='card'>
        <%= link_to "", team_path(team) %>
        <li>
          <div class="team-name">
            <p><%= link_to team.name, team_path(team) %></p>
          </div>
          <div class='team-link'>
            <%= link_to 'View', team_path(team), class: "btn btn-primary btn-team" %>
            <%= link_to 'Edit', edit_team_path(team), class: "btn btn-primary btn-team" %>
            <%= link_to 'Delete', team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-team" %></td>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</div>
<%= content_for(:title, 'TEAM UP | Your Team Manager') %>
