<div class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "favicon.png" %>
    <% end %>
  </div>

  <!-- search bar -->
  <div class='navbar-right'>
    <div class="search">
      <%= form_tag(teams_path, method: :get) do |f| %>
        <%= text_field_tag :query, nil, placeholder: 'Enter Phone Number', class: 'search-box' %>
        <button class="btn btn-default btn-search" %>
          SEARCH
        </button>
      <% end %>
    </div>

  <!-- Add a new team -->
    <div class='navbar-add'>
      <%= link_to "ADD TEAM", new_team_path, class: "navbar-link" %>
    </div>
  </div>
</div>
