<div class="container">
  <h1>Edit <%= @member.name %></h1>
  <%= simple_form_for [@team, @member] do |f| %>
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', team_member_path(@member) %>
</div>
