<div class='container'>
  <h2>- <strong><%= @member.name %></strong> -</h2>
  <h3>Position: <%= @member.position %></h3>
  <h3>Mobile Number: <%= @member.phone %></h3>
  <h3>Email: <%= @member.email %></h3>
  <%= link_to 'Edit', edit_team_member_path(@member), class: "btn btn-primary" %>
  <%= link_to 'Back to Team', team_path(@team), class: "btn btn-primary" %>
</div>


