<div class='container'>
  <h2><strong><%= @member.name.upcase %></strong></h2>
  <br>
  <table>
    <tbody>
      <tr>
        <td><h3><i class="fa fa-street-view" aria-hidden="true"></i></h3></td>
        <td><h3><%= @member.position_id %></h3></td>
      </tr>
      <tr>
        <td><h3><i class="fa fa-mobile" aria-hidden="true"></i></h3></td>
        <td><h3><%= @member.phone %></h3></td>
      </tr>
      <tr>
        <td><h3><i class="fa fa-envelope-o" aria-hidden="true"></i></h3></td>
        <td><h3><%= @member.email %></h3></td>
      </tr>
    </tbody>
  </table>
  <div class="show-team-links">
    <%= link_to 'Back', @team, class: "btn btn-primary" %>
  </div>
</div>

<%= content_for(:title, @member.name + ' | TEAM UP') %>
